html {
    height: 100%;
    width: 100%;
  }
  
  .bodycolor {
    background-color: #0190fe;
  }
  
  .bodycolor1 {
    background-color: #e0f000;
  }
  
  .bodycolor2 {
    background-color: #4201f4;
  }
  
  .title {
    color: white;
  }
  